<table class="table">
  <tr>
    <th>ID</th>
    <th>Equipo</th>
    <th>Bandera</th>
    <th>Editar</th>
  </tr>
  <tr *ngFor="let team of teams">
    <td>{{team.identificador}}</td>
    <td>{{team.nombre}}</td>
    <td><img src="{{'http://mychampapi.test/img/' + team.bandera}}" alt=""></td>
    <td>
      <button class="btn btn-sm btn-info" (click)="editTeam(team)" data-toggle="modal" data-target="#exampleModal">Editar</button>
      <button class="btn btn-sm btn-danger ml-3" (click)="deleteTeam(team)">Eliminar</button>
    </td>
  </tr>
</table>

<hr>

<app-team-form [team]="team"></app-team-form>
