<div class="row animated fadeInRight d-flex justify-content-center mt-5">
  <div class="col-md-12 d-flex justify-content-center mb-3">
    <h2>Iniciar sesión</h2>
  </div>
  <div class="col-md-4">
    <form [formGroup]="form" (ngSubmit)="login()" novalidate="novalidate">
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Ingrese el email" formControlName="email"
          [ngClass]="{'is-invalid': !form.get('email').valid && form.get('email').touched}">
        <div *ngIf="!form.controls['email'].valid && form.controls['email'].touched" class="invalid-feedback">
          El email es obligatorio
        </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" formControlName="password"
          [ngClass]="{'is-invalid': !form.get('password').valid && form.get('password').touched}">
        <div *ngIf="form.get('password').errors?.required && form.get('password').touched" class="invalid-feedback">
          El password es obligatorio
        </div>
        <div *ngIf="form.get('password').errors?.minlength && form.get('password').touched" class="invalid-feedback">
          El password debe tener al menos 3 caracteres
        </div>
      </div>
      <button type="submit" [ngClass]="{'disabled': form.invalid}"
        class="btn btn-outline-primary btn-block mt-3">Ingresar
      </button>
      <button type="button"
        class="btn btn-outline-warning btn-block mt-3" routerLink="/signup">Crearme una cuenta
      </button>
    </form>
  </div>
</div>
